.Presence__User {
  position: relative;
  border-left: 4px solid transparent;
}

.Presence__User input[type=color] {
  /*Meet: The iNViSibLe hACk*/
  position: absolute;
  left:-9999px; top:-9999px;
}
.Presence__User button {
  float: right;
}
.Presence__User:after {
  /*clearfix*/
  display: table;
  content: ' ';
}
